<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qmkj.dao.UserCenterDao">
    <select id="getUserById" parameterType="java.lang.Integer" resultType="com.qmkj.entity.User">
        SELECT id,name,age,sex
        FROM user_tab
        WHERE id=#{id}
    </select>
</mapper>